/*弹框，默认设置*/
.dialog-wrap {
	display: none;
	max-height: 350px;
	overflow-y: scroll;
	padding: 0 15px;
}
/*弹框中点击确认按钮模拟提交的 button*/
#submitBtn {
	display: none;
}
/*存放csrf-token的容器*/
#csrfToken { display: none }

/*下拉框超出了弹框的大小，悬浮显示*/
.layui-layer-page .layui-layer-content {
	position: relative;
	overflow: visible !important;
}
/*下拉框超出最大高度显示滚动条*/
.layui-form-select dl { max-height:300px; }

/*input textarea 获取焦点时边框高亮*/
.layui-input:focus, .layui-textarea:focus {
	border-color: #5fb878 !important;
}
/*input textarea验证失败时边框高亮红色*/
.layui-form-danger:focus {
	border-color: #FF5722 !important;
}
/*tab选项卡颜色*/
.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
	border-color: #e6e6e6;
}

.layui-layout-admin .layui-side {
	width: 150px !important;
}
.layui-side-scroll {
	width: 170px !important;
}
.layui-nav-tree {
	width: 150px !important;
}

.my-body {
	/*left: 150px !important;*/
}


.layui-tab-title .layui-this:after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 41px;
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #fff;
	border-radius: 2px 2px 0 0;
	box-sizing: border-box;
	pointer-events: none;
}

.layui-tab-card>.layui-tab-title .layui-this:after {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #5FB878;
}

.layui-tab-title .layui-this {
	color: #009688;
}

.search-fields-wrap {
	overflow: hidden;
}
.search-fields-wrap .layui-input-block {
	margin-left: 0px;
	min-height: 30px;
	margin-top: 5px;
}
.search-fields-wrap input, .search-fields-wrap select {
	height: 31px;
	font-size: 14px;
}
.search-fields-wrap .layui-form-label {
	width: auto;
	padding: 5px 11px;
}

.markdown-body li {
	list-style: inherit !important;
}