* {
	word-break:break-all;
}
.margin-t-10 {
	margin-top: 10px;
}
.margin-t-15 {
	margin-top: 15px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-t-0 {
	margin-top: 0;
}
.margin-t-5 {
	margin-top: 5px;
}
.margin-0 {
	margin: 0 !important;
}
.padding-0 {
	padding: 0 !important;
}
.padding-15 {
	padding: 15px !important;
}
.padding-tb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.hr {
	border-top: 1px solid #bcbcbd;
}
.text-center {
	text-align: center;
}
body {
	background-color: #f5ede0 !important;
}

.main {
	width: 97%;
	margin: 0 auto;
}

/** Header */
.header {
	overflow: hidden;
}
.header-bg {
	background: url("../images/bg_2.png") right 10% no-repeat;
}
.site-title {
	color: #337ab7;
}
.site-title a:hover {
	text-decoration: none;
}
.my-motto {
	color: #a09999;
}

.list-item {
	width: 95%;
}
.list-item-footer span {
	font-size: 12px;
	margin-right: 4px;
	color: #666;
}
.list-item-separator {
	margin: 20px 0;
	height:1px;
	border: 1px dashed #c3c3c3;
}
.list-item-description {
	color: #333;
}

.content-right {
	/*margin-left: 3%;*/
}

.category-list ul {
	padding-left: 15px;
}
.category-list li {
	font-size: 16px;
	line-height: 1.5;
}

.icon-wrap span  {
	margin-right: 8px;
}
.icon-wrap span i {
	margin-right: 2px;
}

.tag-list a {
	display: inline-block;
	margin-top: 5px;
}

.article-content img {
	max-width: 100%;
}

.media .media-left img {
	border-radius: 5px;
}

.nav {
	margin: 20px 0 10px 0;
}
.nav ul {
	overflow: hidden;
	padding-left: 0px;
}
.nav li {
	list-style: none;
	float: left;
}
.nav li a {
	padding: 15px;
	color: #333 !important;
}
.nav ul li:first-child a {
	padding-left: 0;
}
.nav li a:hover {
	color: #337ab7 !important;
}

.nav .active a {
	color: #337ab7 !important;
	background-color: inherit !important;
}

@media screen and (max-width: 390px) {
	.nav li a {
		padding: 10px;
	}
}

footer {
	padding: 20px;
}
.archive ul {
	font-size: 18px;
	line-height: 2.0;
}


/* markdown->html 美化 */
/* 引用 */
.markdown-content blockquote {
	border-left: 5px solid #736868;
	background-color: #ddd;
	color: #666;
	font-size: 14px;
	line-height: 1.8;
}
.markdown-content blockquote p {
	line-height: 1.8;
}

.markdown-content > p {
	line-height: 1.7;
}

.markdown-content li {
	line-height: 1.8;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
	line-height: 1.5;
}

/* 列表 */
.markdown-content ol, .markdown-content ul {
	padding-left: 15px;
	line-height: 1.5;
}

/* pre and code*/
.markdown-content pre {
	background: #f5f2f0 ;
}
.markdown-content pre {
	padding: 1em !important;
	margin: .5em 0 !important;
	overflow: auto !important;
}
.markdown-content pre code {
	color: #000;
	background: none;
	text-shadow: 0 1px #fff;
	font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.7 !important;
	tab-size: 4;
	hyphens: none !important;
}
